<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>Authorization.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Authorization</servlet-name>
    <servlet-class>com.danco.training.servlet.Authorization</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.danco.training.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorization</servlet-name>
    <url-pattern>/Authorization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
</web-app>